
@{
    //ViewData["Title"] = "Main";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MonCourriel.styles.css" asp-append-version="true" />
    <link rel="stylesheet" media="screen and (max-width: 1280px)" />
</head>
<body>
    <div class="wrapper">
        <div class="sidebar">
            <div class="mt-2 border-2" id="divImageLogoUser">
                <h6 class="text-white text-center mb-1">Vous êtes connecté(e)</h6>
            </div>
            <div class="mt-2 border-2" id="divImageLogoUser">
                <img src="../public/images/muss.jpg" alt="" class="img-fluid rounded-circle my-4 p-1 d-md-block d-xl-block shadow" id="logoUser"/>
            </div>
            <ul>
                <li class="nav-item">
                    <a href="" class="nav-link text-white" title=""><i class="fa fa-home m-2"></i>MonCourriel</a>
                </li>
                <li class="nav-item" id="itemMenuOfMain">
                    <a href="" class="nav-link text-white @*active*@"><i class="far fa-edit m-2"></i>Saisir courrier</a>
                </li>
                <li class="nav-item" id="itemMenuOfMain">
                    <a href="" class="nav-link  text-white"><i class="far fa-envelope-open m-2"></i>Suivi de courriers</a>
                </li>
                <li class="nav-item" id="itemMenuOfMain">
                    <a href="" class="nav-link text-white"><i class="fas fa-chart-line m-2"></i>Inventaire</a>
                </li>
                <li class="nav-item" id="itemMenuOfMain">
                    <a href="" class="nav-link text-white"><i class="fas fa-cogs m-2"></i>Administration</a>
                </li>
            </ul>
            <div class="social_media">
                <a href=""><i class="fa fa-facebook text-white"></i></a>
                <a href=""><i class="fa fa-git text-white"></i></a>
                <a href=""><i class="fa fa-youtube-play text-white"></i></a>
            </div>
        </div>
        <div class="main_content">
            <div class="">
                <h1 class="font-weight-light">MonCourriel</h1>
                <p>Votre solution pour la meilleur gestion de vos courriels !</p>
            </div>
        </div>
    </div>

    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>


